<!DOCTYPE html>
<html lang="en" ng-app="helloApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>angular controller</title>
</head>
<body ng-app="helloApp" ng-controller="helloController">
    <table border="1" ng-controller="helloController">
        <tr>
            <td>用户名</td>
            <td><input type="text" ng-model="user.username"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" ng-model="user.password"></td>
        </tr>
        <tr>
            <td><input type="submit" ng-click="login()"></td>
            <td></td>
        </tr>
        <tr>
            <td>{{message}}</td>
            <td></td>
        </tr>
    </table>
</body>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('helloApp',[]);
    app.controller('helloController',['$scope',function($scope){
        //数据：用户名、密码
        $scope.user = {
            username:'',
            password:''
        }

        //数据：登录行为
        $scope.login = function(){
            //因为数据的变化是双向的，所以界面上的变化会同步到$scope.user上面，所以不需要传参
            console.log($scope.user)
        }


        //监视模型的变化
        $scope.message = '请输入用户名';//$scope.message变不变，取决于$scope.user.username
        
        //官方的api中提供了一个$scope.$watch方法，监视第一个参数发生变化，执行第二个参数函数
        //now：当前的值，old：以前的值
        $scope.$watch('user.username',function(now,old){
            //当username发生变化，触发这个函数 
            //console.log('now is ' + now)
            //console.log('old is ' + old)
            if(now){
                if(now.length < 7){
                    $scope.message = '用户名不合法';
                }else{
                    $scope.message = '';
                }
            }
            else{
                $scope.message = '请输入用户名';
            }
        })

    }])
</script>
</html>